<%- include("./partials/header") %>
    <div class="container">
        <h1>Sign Up Form</h1>
        <form action="/signup" method="post">
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
        </form>
        <p> <a href="/login">Login</a> if you already have an account.</p>
    </div>
<%- include("./partials/footer") %>